
#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}



html, body {
           
    touch-action: none;
    -ms-touch-action: none;
}

	 #renderCanvas {
   width: 100%;
   height: 100%;
   position: relative;  
   touch-action: none;
   outline: none;
   box-shadow: none;
  
}



#preloader-1{
    position: relative;
    z-index: 500;
    top: 20px;
    right: 0;
    width: 80%;
    margin:0 auto;
    height: 60px;
    background-color: #232323;
    color: #eee;
    font-size: 14px;
    font-weight: 600;
}


#preloader-1 p{
       padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
   
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}


	#content{
    z-index:400;
    min-width:unset;
    width: 80%;
    height:    400px;
    position: relative;
    margin: 0 auto;
    }





#scene-explorer-host{
z-index:9000;
min-width:unset;

}

#inspector-host{
z-index:9000;
min-width:unset;

}

#sceneExplorer{
min-width:unset !important;
}

#actionTabs{
min-width:unset !important;
}



@media (orientation: landscape) {

#preloader-1{
    position: absolute;  
    top: 20px;
    right: 0;
    width: 300px;
   
}
 
 #content{

width:100%;
height:100%
}

 #renderCanvas {
   width: calc(100% - 365px);
    height: calc(100% - 105px);
    position: absolute;
    right: 0;
    top: 105px;
   
}

   

}